# ===============================
# Build results (.NET)
# ===============================
**/bin/
**/obj/

**/obj/
obj/


# ===============================
# Visual Studio
# ===============================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===============================
# Rider
# ===============================
.idea/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# NuGet
# ===============================
*.nupkg
*.snupkg
project.nuget.cache
project.assets.json

# ===============================
# Environment files
# ===============================
.env
.env.*
WebApi/.env
